<form action="/login" method="POST">

<label class="pure-u-1" for="username">User</label>
<input class="pure-u-1" type="text" name="username">

<label class="pure-u-1" for="password">Password</label>
<input class="pure-u-1" type="password" name="password"></input>

<button class="pure-button pure-button-primary pure-u-1" type="submit">Log in</button>

</form>