<div class="pure-u-1 font">

  <h2>What do you need to do?</h2>

  <form class="pure-u-1" action="add_task" method="POST">

    <input type="text" name="content" class="pure-u-1">
    <button type="submit" class="pure-button pure-button-primary pure-u-1">Add task</button>

  </form>

</div>
